@import url('https://fonts.cdnfonts.com/css/surprisedmonkey');
@import url('https://fonts.cdnfonts.com/css/plush-trial');
@keyframes blink {
  0%, 20%, 25%, 100% { aspect-ratio: 1; }
  22.5% { aspect-ratio: 10; }
}

@keyframes tiltHead {
  0% { rotate: 0deg; }
  40% { rotate: -10deg; }
  75% { rotate: 4deg; }
/*   95% { rotate: -1deg; } */
  100% { rotate: 0deg; }
}

@keyframes wagTail {
  0% { rotate: 0deg; }
  20% { rotate: -6deg; }
  75% { rotate: 4deg; }
  100% { rotate: 0deg; }
}

@keyframes twitch {
  0%, 87%, 100% { rotate: 0deg; }
  90%, 94%, 98% { rotate: -2deg; }
  88%, 92%, 96% { rotate: 2deg; }
}

article {
  --fur: #222;
  --fur-dark: #111;
  --skin: pink;
  font-size: 0.2vmin; /* cat size */
  width: 80em;
  aspect-ratio: 1;
  position: relative;

  *, *::before, *::after {
    position: absolute;
    box-sizing: border-box;
  }

  #alt {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .shadow {
    width: 80%;
    height: 5%;
    background: #0002;
    border-radius: 50% / 0 0 100% 100%;
    top: 99%;
    left: 50%;
    translate: -50%;
  }

  .tail {
    animation: wagTail 13s infinite;
    transform-origin: 20% 20%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 7em solid #0000;
    border-top-color: var(--fur-dark);
    border-left-color: var(--fur-dark);
    clip-path: polygon(100% 0, 100% 100%, 0 30%, 0 0);
    top: 75%;
    left: 52%;

    &::before {
      content: "";
      width: 7em;
      aspect-ratio: 1;
      background: var(--fur-dark);
      border-radius: 50%;
      left: 81%;
      top: -9%;
    }
  }

  .body {
    left: 50%;
    translate: -50%;
    bottom: 0;
    width: 35%;
    height: 40%;
    background: 
      radial-gradient(100% 80% at 50% 0, var(--fur-dark) 50%, #0000 0),
      var(--fur);
    border-radius: 100% / 200% 200% 20% 20%;

    .leg {
      width: 165%;
      height:38%;
      background: var(--fur);
      bottom: 0;
      left:50%;
      translate: -50%;
      border-radius: 8em 8em 100% 100% / 10em 10em 16em 16em;
      scale: 1 -1;
    }

    .paw {
      width: 35%;
      height: 49%;
      border: 0.75em solid #fff;
      border-top: 0;
      border-radius: 0 0 5em 5em;
      border-bottom: 1em solid #fff;
      top: 48%;
      rotatE: -10deg;
      left: 10%;
      clip-path: polygon(0 20%, 100% 30%, 100% 100%, 0 100%);

      & + & {
        right: 7%;
        height: 50%;
        left: auto;
        rotate: 13deg;
        scale: -1 1;
        clip-path: polygon(0 25%, 100% 15%, 100% 100%, 0 100%);
      }
    }
  }
  .head {
    width: 80%;
    aspect-ratio: 1.1;
    left: 50%;
    translate: -50%;
  animation: tiltHead 13s infinite;
    transform-origin: 50% 100%;

    .ear {
      width: 60%;
      aspect-ratio: 1;
      border: 4em solid var(--fur);
      border-radius: 5% 90% 10% 80%;
      background: var(--skin);

      & + & {
        scale: -1 1;
        right: 0;
        animation: twitch 7.2s infinite;
      }
    }

    .face {
      inset: 0;
      background: 
        linear-gradient(#0003, #0000 50%),
        var(--fur);
      border-radius: 100% / 125% 125% 80% 75%;
    }

    .whisker {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      border: 2em solid #0000;
      border-top-color: var(--fur);
      border-left-color: var(--fur);
      clip-path: polygon(100% 0, 100% 100%, 0 30%, 0 0);

      &:nth-child(1) {
        top: 70%;
        translate: -65%;
      }
      &:nth-child(2) {
        top: 80%;
        translate: -40%;
        rotate: -20deg
      }

      &:nth-child(3) {
        right: 0%;
        top: 70%;
        translate: 65%;
        rotate: 10deg;
      }
      &:nth-child(4) {
        right: 0;
        top: 80%;
        translate: 40%;
        rotate: 24deg
      }
    }

    .nose {
      width: 10%;
      height: 7%;
      background: var(--skin);
      border-radius: 50%;
      top: 75%;
      left: 50%;
      translate: -50% -50%;
      top: 78%;
    }

    .eye {
      --pos: 25%;
      --x1: 50%;
      --x2: 40%;
      width: 35%;
      animation: blink 5s infinite;
      aspect-ratio: 1;
      border-radius: 50%;
      background: 
        radial-gradient(50% 50% at var(--x1) 47%, #fff 2.75em, #0000 calc(2.75em + 1px)),
        radial-gradient(50% 50% at var(--x2) 65%, #fff 1.25em, #0000 calc(1.25em + 1px)),
        radial-gradient(circle at 60% 55%, #000 7em, #0000 calc(7em + 1px)),
        white;
      top: 60%;
      left: var(--pos);
      translate: -50% -50%;
      top: 63%;

      & + & {
        --x1: 70%;
        --x2: 80%;
        left: calc(100% - var(--pos));
        scale: -1 1;
      }
    }
  }
}
.section-portfolio {
  position: relative;
}
.cat {
  position: absolute;
  top: 12%;       /* adjust vertical position as needed */
  left: 28%;      /* center horizontally */
  transform: translate(-50%, -50%);
  font-size: 0.3vmin;  /* your desired cat size */
  padding: 0;          /* remove padding so it does not shift */
  z-index: 9;         /* ensure cat is above the text */
  pointer-events: none; /* optional: clicks pass through cat */
}
body{
    background-image: url(image/background_image_main.jpg);
    /* background-image: url("https://i.pinimg.com/1200x/c0/c3/8f/c0c38f919b1d0205bca10e5b916c615b.jpg");*/
    height: 100vh;
    background-size: cover;
}
.section-portfolio{
  margin-top: 20vh; /* woeking on margin */
  text-align: center;
  align-items: center;
}
.name-portfolio{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20vw;
    padding-top: 9vw;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #000000df;
}
.Programmer{
    font-family: cursive;
    color: #6454c9;
    font-style: italic;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline #ff7ec39e solid;
    margin-right: 6vw;
    position: relative;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: rotate(-12deg);
}
/*.of{
    font-family: cursive;
    color: #05E17B;
    font-style: italic;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline #ab9eff solid;
    margin-right: 6vw;
    position: relative;
    position: absolute;
    top: 69%;
    left: 65%;
}*/
.contact_card{
    font-size: 120%;
    font-weight: bold;
    padding-left: 11px;
    font-family: 'Courier New', Courier, monospace;
}
.instagram, .gmail{
  color: #6454c9;
}
.instagram{
  padding-right: 50px;
}
.instagram:hover {
  color: none;
  text-decoration: none;
}
.gmail:hover {
  color: none;
  text-decoration: none;
}
.its_me{
  mix-blend-mode: multiply;
  height: 30vh;
}
.heading_of_paragrap{
  color: #6454c9;
  font-family: 'Surprisedmonkey', sans-serif;
}
.my_intro_cards{
  margin: 1vh;
}
.paragrap_of_intro{
  font-family: 'Plush-Trial', sans-serif;                                          
}
.myname{
  color: #0b598d;
  padding: 2px;
  border: solid;
  border-left: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius: 20px;
}
.line{
  height: 3px;
  width: 100%;
  background-color: #000;
}